@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap');

:root {
  --active-key-color: #ffd488;
  --active-key-hover: rgba(255, 212, 136, 0.5);
  --key-color: #ffffff;
  --bg-color: #eeeeee;
  --key-letter-color: #65554d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main--container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.output--container {
  width: 900px;
  height: 200px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--key-letter-color);
  align-self: center;
}

.output {
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: none;
}
.keyboard {
  display: grid;
  background-color: var(--bg-color);
  grid-template-columns: repeat(15, 1fr);
  width: 900px;
  height: 300px;
  padding: 5px;
  border-radius: 5px;
  align-self: center;
}

.kbd__button {
  position: relative;
  background: var(--key-color);
  box-shadow: var(--key-letter-color) 0px 1px 3px -1px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.kbd__button:hover {
  background: var(--active-key-hover);
}

.kbd__button:active {
  background-color: var(--active-key-color);
}

.span2 {
  grid-column: span 2;
}

.span3 {
  grid-column: span 3;
}

.span7 {
  grid-column: span 7;
}

.sub {
  position: absolute;
  left: 10%;
  top: 10%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

.letter {
  color: var(--key-letter-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.active {
  background-color: var(--active-key-color);
}

.sub--active {
  position: absolute;
  font-weight: 600;
  transform: scale(1.3) translate(110%, 50%);
  color: var(--key-letter-color);
}

.sub--inactive {
  position: absolute;
  font-weight: 300;
  transform: scale(0.7) translate(200%, 100%);
  color: var(--key-letter-color);
}

.sub,
.letter,
.sub--active,
.sub--inactive {
  transition: all ease-in-out 0.2s;
}
