@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap');

:root {
  --active-key-color: #ffd488;
  --key-color: #ffffff;
  --bg-color: #eeeeee;
  --key-letter-color: #65554d;
}

.keyboard {
  display: grid;
  background-color: var(--bg-color);
  grid-template-columns: repeat(15, 1fr);
  width: 900px;
  height: 300px;
  padding: 5px;
  border-radius: 5px;
}

.kbd__button {
  position: relative;
  background: var(--key-color);
  box-shadow: var(--key-letter-color) 0px 1px 3px -1px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.span2 {
  grid-column: span 2;
}

.span3 {
  grid-column: span 3;
}

.span7 {
  grid-column: span 7;
}

.sub {
  position: absolute;
  left: 10%;
  top: 10%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

.letter {
  color: var(--key-letter-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.active {
  background-color: var(--active-key-color);
}
